@icon-color:#333333;
//统一主标题 颜色，尺寸
@tab-color:#494949;
@tab-size:0.2rem;
//定义主题色
@theme-color:#7abff7;
//统一设计中心宽度
@design-center:91.8%;
//统一副标题尺寸，颜色
@sec-title:0.18rem;
@sec-line-height:0.3rem;
@sec-color:#999;
// @sec-color:#767676;

.word-just-one-line(){
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.word-four-line(){
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.word-two-line(){
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.type-title(){
	text-indent: 0.3rem;
	font-size: 0.22rem;
	color: @tab-color;
	position: relative;
	font-weight: bold;
	margin-bottom: 0.2rem;
	.more{
		float: right;
	}
	&::after{
		position: absolute;
		display: block;
		content: "";
		width: 0.05rem;
		height: 100%;
		background: @theme-color;
		left: 0.09rem;
		top: -0.02rem;
	}
}
img{
	-moz-user-select: none;
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
}