@icon-color:#333333;
//统一主标题 颜色，尺寸
@tab-color:#494949;
@tab-size:0.2rem;
//定义主题色
@theme-color:#7abff7;
//统一设计中心宽度
@design-center:91.8%;
//统一副标题尺寸，颜色
@sec-title:0.18rem;
@sec-line-height:0.3rem;
@sec-color:#767676;

.word-just-one-line(){
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}